* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}

.wrapper {
    text-align: center;
    color: red;
    font-size: 26px;
}

.wrapper nav ul li a{
    text-decoration: none;
}

.wrapper_result{
    text-align: center;
    color: red;

}

.wrapper_add {
    margin-top: 30px;
    text-align: center;
}

.wrapper_add li {
    text-decoration-line: none;
}

.wrapper_add li a {
    font-size: 30px;
    text-decoration-line: none;
    color: red;
}